body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 10rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* styles.css */
.form-group {
  margin-bottom: 2.5rem;
}



/* .control-label[for="root_survey_start-key"] {
  visibility: hidden; 
}
.control-label[for="root_survey_start-key"]::before {
  content: "Question Id"; 
  font-weight: bold;
  visibility: visible;
} */